@tailwind base;
@tailwind components;
@tailwind utilities;

.quoted-text::before {
    content: "“"; 
    font-size: 32px; 
    color: #a6ff00; 
  }
  
  .quoted-text::after {
    content: "”"; 
    font-size: 32px; 
    color: #a6ff00; 
  }
